- name: Deploy nginx-custom to k3d
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Apply manifests
      ansible.builtin.command: kubectl apply -f ../k8s/
    - name: Wait rollout
      ansible.builtin.command: kubectl rollout status deployment/nginx-custom --timeout=120s
    - name: Show pods & svc
      ansible.builtin.command: kubectl get pods,svc -o wide
      register: out
    - debug:
        var: out.stdout_lines
 
